
@import "bootswatch/journal/variables";
// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/journal/bootswatch";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.bs-docs-header {
  margin-bottom: 40px;
}

.bs-docs-sidebar {
  margin-top: 40px;

  .nav>.active>a {
    padding-left: 18px;
  }

  .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
  }

  .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
  }

}



>>>>>>> a939520... initial commit
