<nav class='nav-bar'>
  <ul class='nav'>
    <li class='active'>
      <a href='#'> Sidebar </a>
      <ul class='nav'>
        <li class='active'>
          <a href='#'> Sidebar Nested 1 </a>
        </li>
        <li>
          <a href='#'> Sidebar Nested 2 </a>
        </li>
        <li>
          <a href='#'> Sidebar Nested 3 </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
